<div class="row">
  <div class="col-md-4 col-md-offset-1">

    <h1>Update Profile</h1>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, value: @user.name, class: 'form-control' %>

      <%= f.label :bio %>
      <%= f.text_area :bio, value: @user.bio, class: 'form-control' %>

      <%= f.submit "Update", class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>
